<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <title>Projeto Redes II</title>
  </head>

  <body>
 
      <header>
        <h1>Chat com Node.js e Socket.Io</h1>
      </header>
         
      <section id="chatroom">
        <section id="feedback"></section>
      </section>

      <section id="input_zone"> 
        <input id="message" class="vertical-align" type="text" autocomplete="off"/>
        <button id="send_message" class="vertical-align" type="button" >Enviar</button>
      </section>

      <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <h4>Entre com um nome</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <section>
            <div id="change_username">
              <input id="username" type="text" autocomplete="off"/>
              <button type="button" id="send_username" class="btn btn-success" data-dismiss="modal">Digite um UserName</button>
            </div>
          </section>
        </div>
      </div>
      
    </div>
  </div> 
</div>
       
    <script src="chat.js"></script>
    <script>
      $(document).ready(function(){
        $("#myModal").modal('show');      
      });
      </script>
  </body>
</html>